<!-- Navbars, logo et bouton déconnexion -->
<app-logout-button></app-logout-button>


<!-- Présentation GSB et petits onglets renvois -->
<div class="fond">
    <div class="container marge">
      <div class="row">
          <div class="bordure">
            <h4>Consulter une fiche de frais</h4>

            Mois: {{ fiche.mois }}
            Annee: {{ fiche.annee }}

            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <!-- Panel des Lignes en Forfait -->
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="accordion-button">Lignes en forfait</button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Type de Frais</th>
                          <th scope="col">Quantité</th>
                          <th scope="col">Prix Unitaire</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>

                      <tbody>
                        <!-- l'id #ligneEnForfait sera utilisée pour collecter tous les composants fils -->
                        <tr *ngFor="let ligne of fiche.LigneFraisEnForfaits;let index = index;"
                          app-ligne-en-forfait
                          [ligneData]="ligne"
                          [index]="index"
                          [verrouillee]="true"
                          #ligneForfait>
                        </tr>

                      </tbody>
                    </table>
                </ng-template>
              </ngb-panel>

              <!-- Panel des Lignes Hors Forfait -->
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="accordion-button">Lignes hors forfait</button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Libellé</th>
                          <th scope="col">Quantité</th>
                          <th scope="col">Prix Unitaire</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>

                      <tbody>
                        <!-- l'id #ligneHorsForfait sera utilisée pour collecter tous les composants fils -->
                        <tr *ngFor="let ligne of fiche.LigneFraisHorsForfaits;let index = index;"
                          app-ligne-hors-forfait
                          [ligneData]="ligne"
                          [index]="index"
                          [verrouillee]="true"
                          #ligneHorsForfait>
                        </tr>
                      </tbody>
                    </table>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <div class="flex">
              <button *ngIf="fiche.etat === 2" class="btn-grad btn-grad:hover txtgras mt-3" (click)="changerEtat(1)"> Archiver la fiche </button>
              <button *ngIf="fiche.etat === 3" class="btn-grad btn-grad:hover txtgras mt-3" (click)="changerEtat(2)"> Valider la fiche </button>
              <button *ngIf="fiche.etat === 3" class="btn-grad btn-grad:hover txtgras mt-3" (click)="changerEtat(4)"> Repasser en brouillon </button>
            </div>
          </div>
        </div>
    </div>
</div>


<!-- Bandeau contacts bas de page -->
<app-contacts></app-contacts>
