:host 
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 8px 0;
}

.marge
{
    padding: 5%;
}

.fond{
    background-image: URL("../../assets/Fond2.png");
    background-size: cover;
    position: sticky;
    width: 100%;
    height: auto;
    z-index: 0;
}

.bordure
{
    margin: auto;
    padding: 5em; //Attention, modifie le centrage si diminué
    max-width: 85%;
    border: 2px solid #00B8C0;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    background-color: #FFFA;
}

.btn-grad 
{
    background-image: linear-gradient(to right, #006594 0%, #00B8C0  35%, #FFF  100%)
}
.btn-grad 
{
    max-width: auto;
    min-width: 200px;
    margin: auto;
    padding: 1em;
    transition: 0.5s;
/*    color: linear-gradient(to right, #ffffff 0%, #777777  35%, rgb(0, 0, 0)  100%);  NE FONCTIONNE PAS*/
    color: black;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
 }
 .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
 }

.TiBouton{
    height: 1cm;
    width: 1cm;
}

.txtgras{
    font-weight: bold;
}

/* Retrait des points du <ul> */
ul {
    list-style-type: none;
  }

/* Alignement fiche de frais/bouton */
.flex {
    display: flex;
    justify-content: left;
}

/* Réglage du contenu des input */
input {
    width: fit-content;
}
input:read-only {
    background-color: #FFF;
}
    
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em;
    }
    
.card {
all: unset;
border-radius: 20px;
border: 1px solid #eee;
max-width: 60%;
min-width: 60%;
margin-left: 10em;
margin-bottom: 10px;
padding: 25px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
transition: all 0.2s ease-in-out;
font-weight: bold;
line-height: 24px;
color: black;
}

.card-container .card:not(:last-child) {
margin-right: 0;
}

.card-connection {
background-color: #00B8C0; 
}

.card.card-small {
height: 16px;
width: 168px;
background-color: #00B8C0;

}

.card-container .card:not(.highlight-card) {
cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
transform: translateY(-3px);
box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
fill: rgb(105, 103, 103);
}

.card.highlight-card {
background-color: #1976d2;
font-weight: 600;
border: none;
width: auto;
min-width: 30%;
position: relative;
margin-top: 10px;
}

.card.card.highlight-card span {
margin-left: 60px;
}
    



/* Responsive Styles */

@media screen and (max-width: 767px) {
.card-container > *:not(.circle-link) ,
.terminal {
    width: 100%;
}

.card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
}

.card.highlight-card span {
    margin-left: 72px;
}

svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
}
}

@media screen and (max-width: 575px) {
svg#rocket-smoke {
    display: none;
    visibility: hidden;
}
}
    