<!-- barre recherche -->
<app-navbar></app-navbar>
<!-- barre renvoi pages -->
<app-navbar-pages></app-navbar-pages>


<!-- Prise de rendez vous -->
<div class="fond">
    <div class="container marge">
        <div class="row">
            <div class="bordure">
                <label for="typeahead-basic">Trouver mon laboratoire</label>
                <input id="typeahead-basic" type="text" placeholder="Ville" class="form-control" [(ngModel)]="model" /><br>
                <button class="btn-grad btn-grad:hover txtgras mt-5" routerLink="/labos">
                    <span>Trouver un laboratoire</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Bandeau contacts bas de page -->
<app-contacts></app-contacts>