<!-- barre recherche -->
<app-navbar></app-navbar>
<!-- barre renvoi pages -->
<app-navbar-pages></app-navbar-pages>

<!-- Boite connection -->
<div class="fond">
    <div class="container marge">
        <div class="row">
            <div class="bordure">
                <label for="typeahead-basic">Contactez nous :</label>
                <input id="typeahead-basic" type="text" placeholder="Ajoutez un objet" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/><br>
                <input id="typeahead-basic" type="text" placeholder="Contactez nous, nous vous répondrons dans les plus brefs délais" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/><br>            
                <button class="btn-grad btn-grad:hover txtgras mt-4" routerLink="/">
                    <span>Envoyer</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Bandeau contacts bas de page -->
<app-contacts></app-contacts>