:host 
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    
h1,
h2,
h3,
h4,
h5,
h6 
{
margin: 8px 0;
}

.fond{
    background-image: URL("../../assets/Fond2.png");
    background-size: cover;
    position: sticky;
    width: 100%;
    height: auto;
    z-index: 0;
}

.marge{
    padding: 5%;
}

.bordure
{
    margin: auto;
    padding: 5em;
    max-width: 40%;
    border: 2px solid #00B8C0;
    border-radius: 10%;
    align-items: center;
    align-content: center;
    background-color: #FFFA;
    display: flex;
    flex-wrap: wrap;
}

.btn-grad 
{
    background-image: linear-gradient(to right, #006594 0%, #00B8C0  35%, #FFF  100%)
}
.btn-grad 
{
    max-width: auto;
    min-width: auto;
    margin: auto;
    padding: 1em;
    transition: 0.5s;
    /*    color: linear-gradient(to right, #ffffff 0%, #777777  35%, rgb(0, 0, 0)  100%);  NE FONCTIONNE PAS*/
    color: black;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.btn-grad:hover 
{
background-position: right center; /* change the direction of the change here */
text-decoration: none;
}

.txtgras{
font-weight: bold;
}

.fat{
    width: auto;
    height: 8em;
}

/* Responsive Styles */

@media screen and (max-width: 767px) {
.card-container > *:not(.circle-link) ,
.terminal {
width: 100%;
}

.card:not(.highlight-card) {
height: 16px;
margin: 8px 0;
}

.card.highlight-card span {
margin-left: 72px;
}

svg#rocket-smoke {
right: 120px;
transform: rotate(-5deg);
}
}

@media screen and (max-width: 575px) {
svg#rocket-smoke {
display: none;
visibility: hidden;
}
}
