<!-- barre recherche -->
<app-navbar></app-navbar>
<!-- barre renvoi pages -->
<app-navbar-pages></app-navbar-pages>

<!-- Boite connection -->
<div class="fond">
  <div class="container marge">
    <div class="row">
      <div class="bordure">
        <label for="typeahead-basic">Veuillez saisir vos identifiants:</label>
        <input id="typeahead-basic" type="text" placeholder="Identifiant" class="form-control" [(ngModel)]="identifiant" /><br>
        <input id="typeahead-basic" type="password" placeholder="Mot de passe" class="form-control" [(ngModel)]="motDePasse"/><br>
        <button type="submit" class="btn-grad btn-grad:hover txtgras mt-4" (click)="login()">Connexion</button>
      </div>
    </div>
  </div>
</div>

<!-- Bandeau contacts bas de page -->
<app-contacts></app-contacts>
