<td scope="row">{{ index + 1 }}</td>
<td>
  <input
    type="text"
    [(ngModel)]="ligneData.libelle"
    placeholder="Libellé"
    [readonly]="verrouillee"
  >
</td>
<td>
  <input
    type="number" min="1" step="1"
    [(ngModel)]="ligneData.quantite"
    placeholder="1"
    (change)="calculPrix()"
    [readonly]="verrouillee"
  >
</td>
<td>
  <input
    type="number" min="0"
    (change)="calculPrix()"
    [(ngModel)]="ligneData.prixUnitaire"
    [readonly]="verrouillee"
  >
</td>
<td>
  <input
    type="number"
    min="0" [value]="prixTotal.toFixed(2)"
    readonly
  >
</td>

<button *ngIf="!verrouillee" class="btn-grad btn-grad:hover mt-1" (click)="supprimerLigne()"><img [src]="TrashIcon" height="100%"></button>
