.btn-grad 
{
    background-image: linear-gradient(to right, #ffdb85 0%, #FFB400  35%, rgb(255, 0, 0)  100%)
}
.btn-grad 
{
    height: 1cm;
    width: 1cm;
    max-width: auto;
    min-width: auto;
    transition: 0.5s;
/*    color: linear-gradient(to right, #ffffff 0%, #777777  35%, rgb(0, 0, 0)  100%);  NE FONCTIONNE PAS*/
    color: black;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
 }
 .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
 }

 input{
    width: 100px;
 }

