<!-- Navbars, logo et bouton déconnexion -->
<app-logout-button></app-logout-button>


<!-- Présentation GSB et petits onglets renvois -->
<div class="fond">
    <div class="container marge">
      <div class="row">
          <div class="bordure">
            <h4 *ngIf="verrouillee();else editText">Consulter une fiche de frais</h4>
            <!-- celle ligne ng*template se substituera au h4 si le ngIf est faux-->
            <ng-template #editText><h4>Editer une fiche de frais</h4></ng-template>
            <p *ngIf="verrouillee()"><i>Cette fiche a été envoyée, elle ne peut être modifiée</i></p>
            <div class="flex">
              <label class="mt-3">Mois :</label>
              <input
                type="number" min=1 max=12 step=1
                placeholder="1"
                class="form-control m-2"
                [(ngModel)]="fiche.mois"
                [readonly]="verrouillee()"
              >
              <label class="mt-3">Année :</label>
              <input
                type="number" step=1
                placeholder="2022"
                class="form-control m-2"
                [(ngModel)]="fiche.annee"
                [readonly]="verrouillee()"
              >
            </div>  
            
              <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <!-- Panel des Lignes en Forfait -->
                <ngb-panel>
                  <ng-template ngbPanelHeader>
                    <button ngbPanelToggle class="accordion-button">Lignes en forfait</button>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Type de Frais</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Prix Unitaire</th>
                            <th scope="col">Total</th>
                          </tr>
                        </thead>

                        <tbody>
                          <!-- l'id #ligneEnForfait sera utilisée pour collecter tous les composants fils -->
                          <tr *ngFor="let ligne of fiche.LigneFraisEnForfaits;let index = index;"
                            app-ligne-en-forfait
                            [ligneData]="ligne"
                            [index]="index"
                            [verrouillee]="verrouillee()"
                            (supprimer)="retirerLigneEnForfait($event)"
                            #ligneForfait>
                          </tr>
              
                          <tr *ngIf="!verrouillee()">
                            <button class="btn-grad btn-grad:hover txtgras mt-1 p-1 TiBouton" (click)="ajouterLigneEnForfait()">+</button>
                          </tr>
                        </tbody>
                      </table>
                  </ng-template>
                </ngb-panel>
              
                <!-- Panel des Lignes Hors Forfait -->
                <ngb-panel>
                  <ng-template ngbPanelHeader>
                    <button ngbPanelToggle class="accordion-button">Lignes hors forfait</button>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Libellé</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Prix Unitaire</th>
                            <th scope="col">Total</th>
                          </tr>
                        </thead>
              
                        <tbody>
                          <!-- l'id #ligneHorsForfait sera utilisée pour collecter tous les composants fils -->
                          <tr *ngFor="let ligne of fiche.LigneFraisHorsForfaits;let index = index;"
                            app-ligne-hors-forfait
                            [ligneData]="ligne"
                            [index]="index"
                            [verrouillee]="verrouillee()"
                            (supprimer)="retirerLigneHorsForfait($event)"
                            #ligneHorsForfait>
                          </tr>
                          <tr *ngIf="!verrouillee()">
                            <button class="btn-grad btn-grad:hover txtgras mt-1 p-1 TiBouton" (click)="ajouterLigneHorsForfait()">+ </button>
                          </tr>
                        </tbody>
                      </table>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
              
              <button *ngIf="!verrouillee()" class="btn-grad btn-grad:hover txtgras mt-3" (click)="confirmerFiche()">
                <span> Confirmer </span>
              </button>
              
              <p *ngIf="verrouillee()"><i>Cette fiche a été envoyée, elle ne peut être modifiée</i></p>
          </div>
      </div>
  </div>
</div>
      

<!-- Bandeau contacts bas de page -->
<app-contacts></app-contacts>
=======
<h4 *ngIf="verrouillee();else editText">Consulter une fiche de frais</h4>
<!-- celle ligne ng*template se substituera au h4 si le ngIf est faux-->
<ng-template #editText><h4>Editer une fiche de frais</h4></ng-template>

<p *ngIf="verrouillee()"><i>Cette fiche a été envoyée, elle ne peut être modifiée</i></p>

<label>Mois:</label>
<input
  type="number" min=1 max=12 step=1
  placeholder="1"
  [(ngModel)]="fiche.mois"
  [readonly]="verrouillee()"
>
<label>Année:</label>
<input
  type="number" step=1
  placeholder="2022"
  [(ngModel)]="fiche.annee"
  [readonly]="verrouillee()"
>

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <!-- Panel des Lignes en Forfait -->
  <ngb-panel title="Lignes en forfait">
    <ng-template ngbPanelContent>
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Type de Frais</th>
              <th scope="col">Quantité</th>
              <th scope="col">Prix Unitaire</th>
              <th scope="col">Total</th>
            </tr>
          </thead>

          <tbody>
            <!-- l'id #ligneEnForfait sera utilisée pour collecter tous les composants fils -->
            <tr *ngFor="let ligne of fiche.LigneFraisEnForfaits;let index = index;"
              app-ligne-en-forfait
              [ligneData]="ligne"
              [index]="index"
              [verrouillee]="verrouillee()"
              (supprimer)="retirerLigneEnForfait($event)"
              #ligneForfait>
            </tr>

            <tr *ngIf="!verrouillee()">
              <button (click)="ajouterLigneEnForfait()"> + </button>
            </tr>
          </tbody>
        </table>
    </ng-template>
  </ngb-panel>

  <!-- Panel des Lignes Hors Forfait -->
  <ngb-panel title="Lignes hors forfait">
    <ng-template ngbPanelContent>
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Libellé</th>
              <th scope="col">Quantité</th>
              <th scope="col">Prix Unitaire</th>
              <th scope="col">Total</th>
            </tr>
          </thead>

          <tbody>
            <!-- l'id #ligneHorsForfait sera utilisée pour collecter tous les composants fils -->
            <tr *ngFor="let ligne of fiche.LigneFraisHorsForfaits;let index = index;"
              app-ligne-hors-forfait
              [ligneData]="ligne"
              [index]="index"
              [verrouillee]="verrouillee()"
              (supprimer)="retirerLigneHorsForfait($event)"
              #ligneHorsForfait>
            </tr>
            <tr *ngIf="!verrouillee()">
              <button (click)="ajouterLigneHorsForfait()"> + </button>
            </tr>
          </tbody>
        </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<button *ngIf="!verrouillee()" (click)="confirmerFiche()">Confirmer</button>

<p *ngIf="verrouillee()"><i>Cette fiche a été envoyée, elle ne peut être modifiée</i></p>
