<td scope="row">{{ index + 1 }}</td>
<td>
    <select [disabled]="verrouillee" (change)="changeFrais($event)">
      <option value="0" disabled hidden>Choisir</option>
      <option *ngFor="let frais of listeFraisEnForfait; let index = index;"
        [value]="frais.id"
        [selected]="ligneData.fraisEnForfaitId === index+1"
      >
        {{frais.libelle}}
      </option>
    </select>
</td>
<td>
  <input
    type="number" min="1" step="1"
    [(ngModel)]="ligneData.quantite"
    placeholder="1"
    (change)="calculPrix()"
    [readonly]="verrouillee"
  >

</td>
<td><input readonly type="number" [value]="prixUnitaire"></td>
<td><input readonly type="number" [value]="prixTotal.toFixed(2)"></td>
<button *ngIf="!verrouillee" class="btn-grad btn-grad:hover mt-1" (click)="supprimerLigne()"><img [src]="TrashIcon" height="100%"></button>
