<td scope="row">{{ index + 1 }}</td>
<td>
  <input class="form-control" type="text" [(ngModel)]="fraisData.libelle">
</td>
<td>
  <input class="form-control" type="number" min=0 [(ngModel)]="fraisData.prixUnitaire">
</td>