.map-wrapper {
  width: 100%;
  height: 400px;
  margin: 0px;
}
.fond {
  background-image: URL("../../assets/Fond2.png");
  background-size: cover;
  position: sticky;
  width: 100%;
  height: auto;
  z-index: 0;
}

.map-border{
  padding: 0px;
}


.bordure {
  margin: auto;
  max-width: 60%;
  border: 2px solid #00B8C0;
  border-radius: 50px;
  background-color: #FFFA;
}

/*   .map-border {
    border: 5px solid orange;
    height: auto;
  } */

#map {
  border-radius: 50px;
  height: 100%;
}
