<!-- barre recherche -->
<app-navbar></app-navbar>
<!-- barre renvoi pages -->
<app-navbar-pages></app-navbar-pages>

<!-- Map interactive avec labos -->
<!-- <div class="container">
    <div class="row">
        <app-map></app-map>
    </div>
</div> -->


<!-- Cards d'infos pour labo -->
<!-- <div class="card-container">
    <a class="card card-connection" target="_blank" rel="noopener" href="https://angular.io/tutorial">
      <span>Trouver mon laboratoire</span>
    </a>
</div> -->
<div class="fond">
    <div class="container">
        <div class="bordure">
            <div class="row map-wrapper">
                <div class="map-border">
                    <div id="map"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Bandeau contacts bas de page -->
<app-contacts></app-contacts>
