<!-- barre recherche, bandeau logo et connection cards -->
<app-navbar></app-navbar>
<!-- barre renvoi pages -->
<app-navbar-pages></app-navbar-pages>

<!-- Présentation GSB et petits onglets renvois -->
<div class="fond">
    <div class="container margefond">
        <div class="row">
            <div class="col-md-6">
                <app-presentation-gsb></app-presentation-gsb>
            </div>
            <div class="col-md-6">
                <app-cards-services></app-cards-services>
            </div>
        </div>
    </div>
</div>
<!-- Bandeau contacts bas de page -->
<app-contacts></app-contacts>
