//Eléments alignés horizontalement
.flex {
  display: flex;
  justify-content: left;
}

.btn-grad 
{
  background-image: linear-gradient(to right, #27C2E6 0%, #ffffff  45%, #fff5bd  100%)
}
.btn-grad 
{
  height: 2cm;
  width: 10cm;
  max-width: auto;
  min-width: auto;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
  border: none;
}
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.txtgras{
  font-weight: bold;
}