<!-- <input type="hidden" #selection> -->

<div class="marge">
    <div class="flex m-3">
        <button class="btn-grad btn-grad:hover pt-4 txtgras" routerLink="/rdv">Prendre rendez-vous<img [src]="Fleche" class="pb-3" align="right" height="80%"></button>
    </div>
    <div class="flex m-3">
        <button class="btn-grad btn-grad:hover pt-4 txtgras" routerLink="/patient-access">Vos résultats en ligne<img [src]="Fleche" class="pb-3" align="right" height="80%"></button>
    </div>
    <div class="flex m-3">
        <button class="btn-grad btn-grad:hover pt-4 txtgras" routerLink="/labos">Laboratoires<img [src]="Fleche" class="pb-3"  align="right" height="80%"></button>
    </div>
    <div class="flex m-3">
        <button class="btn-grad btn-grad:hover pt-4 txtgras" routerLink="/x">Notre équipe<img [src]="Fleche" class="pb-3"  align="right" height="80%"></button>
    </div>
    <div class="flex m-3">
        <button class="btn-grad btn-grad:hover pt-4 txtgras" routerLink="/formulaire-contact">Contact<img [src]="Fleche" class="pb-3" align="right" height="80%"></button>
    </div>
</div>
