<!-- Navbars, logo et bouton déconnexion -->
<app-logout-button></app-logout-button>

<!-- Présentation GSB et petits onglets renvois -->
<div class="fond">
  <div class="container margefond">
    <div class="bordure">
      <h4> Gérer les frais forfaitisés </h4>
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Libellé</th>
            <th scope="col">Prix Unitaire</th>
          </tr>
        </thead>

        <tbody>
          <!-- l'id #ligneEnForfait sera utilisée pour collecter tous les composants fils -->
          <tr *ngFor="let frais of listeFraisEnForfait;let index = index;" app-frais-en-forfait-form [index]="index"
            [fraisData]="frais" #fraisEnForfait>
          </tr>
          <tr>
            <button class="btn button-new"  (click)="creerFraisEnForfait()"> + </button>
          </tr>
        </tbody>
      </table>

      <br>
      <button class="btn btn-success" (click)="confirmerListe()"> Confirmer </button>
    </div>

  </div>
</div>
<!-- Bandeau contacts bas de page -->
<app-contacts></app-contacts>