.fond {
    background-image: URL("../../assets/Fond2.png");
    background-size: cover;
    position: sticky;
    width: 100%;
    height: auto;
    z-index: 0;
}
.button-new {
    background-color: #FFB400;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 50px
}

h4{
    text-align: center;
}

.flex {
    margin-top: 7px;
    display: flex;
}
.margefond {
    padding: 5%;
    margin: auto;
}
.pr-6{
    padding-left: 0px;
    padding-right: 6px;
}

.pl-6{
    padding-left: 6px;
    padding-right: 0px;
}

.form-group{
    margin: 10px 0px 10px 0px;
}

.bordure {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 5em;
    max-width: 60%;
    border: 2px solid #00B8C0;
    border-radius: 50px;
    background-color: #FFFA;
}

.btn-success{
    margin-top: 10px;

}

.card {
    margin: 10px;
}

a {
    width: 100%;
}
