/*Commande pour avoir du texte blanc*/
.text-white{
    color: #FFF;
}

.toolbar {
    z-index: 1;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; /* aligne les éléments verticalement */
    background-color: #27C2E6; 
    font-weight: 600;
    text-align: center;
}
