<!-- EXEMPLE BOOTSRTAP, laisser pour ?
<ul ngbNav #nav="ngbNav" class="toolbar justify-content-center">
    <li ngbNavItem>
      <a ngbNavLink>One</a>
      <ng-template ngbNavContent>
        <p>These navs will always stay in DOM and have no roles</p>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Two</a>
      <ng-template ngbNavContent>
        <p>Because default values have been customized in the config</p>
      </ng-template>
    </li>
</ul> -->

  <ul ngbNav #nav="ngbNav" class="toolbar justify-content-center">
    <li ngbNavItem>
        <a class="nav-link active text-white" routerLink="/accueil">Accueil</a>
    </li>
    <li ngbNavItem>
        <a class="navbar-brand text-white">|</a>
    </li>
    <li ngbNavItem>
        <a class="nav-link active text-white" routerLink="/rdv">Prendre rendez-vous</a>
    </li>
    <li ngbNavItem>
        <a class="navbar-brand text-white">|</a>
    </li>
    <li ngbNavItem>
        <a class="nav-link active text-white" routerLink="/patient-access">Résultats en ligne</a>
    </li>
  </ul>
