<!-- Navbars, logo et bouton déconnexion -->
<app-logout-button></app-logout-button>


<!-- Présentation GSB et petits onglets renvois -->
<div class="fond">
    <div class="container marge">
      <div class="row">
          <div class="bordure">
              <h4>Liste des fiches de frais</h4>

              <label class="m-2">Selectionner un visiteur:</label>
              <select class="form-select"
                (change)="changeVisiteur($event)"
                >
                <option
                  *ngFor="let visiteur of visiteurs"
                  [value]="visiteur.id"
                  > {{ visiteur.prenom }} {{ visiteur.nom }}
                </option>
              </select>
              <hr style="height: 2px; color: #000000; width: 100%; border: none;">
              <ul>
                <li *ngFor="let fiche of listeDeFiches()">
                  <a routerLink="/fiches/edit-comptable/{{ fiche.id }}" class="btn">
                    {{ fiche.mois }}/{{ fiche.annee }} | {{ fiche.getStatusLabel(fiche.etat) }}
                  </a>
                  <hr style="height: 2px; color: #000000; width: 100%; border: none;">
                </li>
              </ul>
          </div>
      </div>
  </div>
</div>


<!-- Bandeau contacts bas de page -->
<app-contacts></app-contacts>
