<!-- Footer : Logo groupe, adresse boite mère, adresse contact (email), qui sommes nous, notre équipe... Rappel de tous les liens des cards mais sous forme de liste simple? -->
<div class="fond bottom-fixed marge">
    <div class="col-md-4">
        <ul ngbNav #nav="ngbNav" class="toolbar justify-content-center">
            <li ngbNavItem>
                <a class="nav-link active text-white gras" routerLink=''>Nos spécialités<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Dépistage Covid-19<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>PMA et Spermiologie<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Biologie préventive<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Biologie de la grossesse<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Pédiatrie<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Bilans de routine<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Cancérologie<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Gynécologie<span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul ngbNav #nav="ngbNav" class="toolbar justify-content-center">
            <li ngbNavItem>
                <a class="nav-link active text-white gras" routerLink=''>Laboratoires :<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Paris<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Marseilles<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Lyon<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Toulouse<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Bordeaux<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Rennes<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Brest<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Nantes<span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul ngbNav #nav="ngbNav" class="toolbar justify-content-center">
            <li ngbNavItem>
                <a class="nav-link active text-white gras" routerLink=''>FAQ<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Avant l'examen<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink="/patient-access">Vos résultats d'examen<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink="/rdv">Prise de RDV à domicile<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Facturation<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Recrutement<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink=''>Nos réseaux sociaux<span class="sr-only"></span></a>
                <a class="nav-link active text-white" routerLink="/formulaire-contact">Contact<span class="sr-only"></span></a>
            </li>
        </ul>
    </div>   
</div>