/*Commande pour avoir du texte blanc*/
.text-white{
    color: #FFF;
}
    
.fond {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center; /* aligne les éléments verticalement */
    background-color: #27C2E6; 
    font-weight: 600;
    text-align: center;
}

.marge {
    padding: 5em;
}

.gras {
    font-weight: bold;
}