<!-- Navbars, logo et bouton déconnexion -->
<app-logout-button></app-logout-button>

<!-- Présentation GSB et petits onglets renvois -->
<div class="fond">
    <div class="container marge">
      <div class="row">
        <div class="bordure">
          <h4>Créer une fiche de frais</h4>
          <div class="flex">
            <label class="mt-3">Mois :</label>
            <input
              type="number" min=1 max=12 step=1
              class="form-control m-2"
              [(ngModel)]="ficheData['mois']"
              placeholder="01"
            >
            <label class="mt-3">Année :</label>
            <input
              type="number"
              class="form-control m-2"
              [(ngModel)]="ficheData['annee']"
              placeholder="2022"
            >
          </div>
          
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <!-- Panel des Lignes en Forfait -->
            <ngb-panel>
              <ng-template ngbPanelHeader>
                <button ngbPanelToggle class="accordion-button">Lignes en forfait</button>
              </ng-template>
              <ng-template ngbPanelContent>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type de Frais</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix Unitaire</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
          
                    <tbody>
                      <!-- l'id #ligneEnForfait sera utilisée pour collecter tous
                        les composants fils -->
                      <tr *ngFor="let ligne of ligneFraisEnForfaits;let index = index;"
                        app-ligne-en-forfait
                        [ligneData]="ligne"
                        [index]="index"
                        (supprimer)="retirerLigneEnForfait($event)"
                        #ligneForfait>
                      </tr>
          
                    <tr><button class="btn-grad btn-grad:hover txtgras mt-1 p-1 TiBouton" (click)="ajouterLigneEnForfait()">+ </button></tr>
                    </tbody>
                  </table>
              </ng-template>
            </ngb-panel>
          
            <!-- Panel des Lignes Hors Forfait -->
            <ngb-panel>
              <ng-template ngbPanelHeader>
                <button ngbPanelToggle class="accordion-button">Lignes hors forfait</button>
              </ng-template>
              <ng-template ngbPanelContent>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Libellé</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix Unitaire</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
          
                    <tbody>
                        <!-- l'id #ligneHorsForfait sera utilisée pour collecter tous
                          les composants fils -->
                      <tr *ngFor="let ligne of ligneFraisHorsForfaits;let index = index;"
                        app-ligne-hors-forfait
                        [ligneData]="ligne"
                        [index]="index"
                        (supprimer)="retirerLigneHorsForfait($event)"
                        #ligneHorsForfait>
                      </tr>
                      <tr>
                        <button class="btn-grad btn-grad:hover txtgras mt-1 p-1 TiBouton" (click)="ajouterLigneHorsForfait()">+ </button>
                      </tr>
                    </tbody>
                  </table>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          
          <button class="btn-grad btn-grad:hover txtgras mt-3" (click)="confirmerFiche()"> Confirmer </button>
        </div>
      </div>
    </div>
</div>
<!-- Bandeau contacts bas de page -->
<app-contacts></app-contacts>
