<!-- Navbars, logo et bouton déconnexion -->
<app-logout-button></app-logout-button>


<!-- Présentation GSB et petits onglets renvois -->
<div class="fond">
    <div class="container marge">
      <div class="row">
          <div class="bordure">
              <h4>Liste des fiches de frais</h4>
              <ul>
                <hr style="height: 2px; color: #000000; width: 100%; border: none;">
                <li *ngFor="let fiche of fiches;let index = index">
                  <div class="flex">
                    <a routerLink="/fiches/edit/{{ fiche.id }}" class="btn">
                      {{ fiche.mois }}/{{ fiche.annee }} | {{ fiche.getStatusLabel(fiche.etat) }}
                    </a>
                    <button class="btn-grad btn-grad:hover txtgras" *ngIf="fiche.etat == 4" (click)="envoyerFiche(index)">
                      <span> Envoyer cette fiche </span>
                    </button>
                  </div>
                  <hr style="height: 2px; color: #000000; width: 100%; border: none;">
                </li>
              </ul>
              <button class="btn-grad btn-grad:hover txtgras" (click)="creerFiche()">
                <span> Nouvelle fiche de frais </span>
              </button>
          </div>
      </div>
  </div>
</div>
      

<!-- Bandeau contacts bas de page -->
<app-contacts></app-contacts>

