<!-- <ul ngbNav #nav="ngbNav" class="nav-tabs navbar background-color">
  <li ngbNavItem>
    <input id="recherche" type="text" class="form-control" [(ngModel)]="recherche"/>
  </li>
</ul> -->

<!-- <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
    Dropdown
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</li> -->

<!-- Search bar -->
<ul ngbNav #nav="ngbNav" class="toolbar top-fixed justify-content-center">
  <li ngbNavItem>
      <a class="nav-link active text-white" routerLink="/formulaire-contact">Nous contacter<span class="sr-only"></span></a>
  </li>
  <form class="form-inline my-2 my-lg-0 pt-1">
    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search"><br>
  </form>
  <!-- <button class="btn loupe" type="submit"><img [src]="Loupe" alt="Bouton rechercher"></button> -->
</ul>

<!-- logo et onglets connexion -->
<div class="bandeau">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <img [src]="LogoGSB3" class="margeLogo">
        </div>
        <div class="col-md-6 margeCartes">
            <app-onglets-connection></app-onglets-connection>
        </div>
    </div>
  </div>
</div>