/*Commande pour avoir du texte blanc*/
.text-white{
    color: #FFF;
}
    
.toolbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; /* aligne le texte verticalement */ 
    background-color: #27C2E6; 
    font-weight: 600;
    text-align: center;
}

.margeLogo{
/*     margin-top: 2%;
    margin-bottom: 2%; */
    margin: 3%;
    width: 50%;
    z-index: 2;
}
.margeCartes{
    margin-top: 3%;
    margin-bottom: 2%;
    z-index: 2;
}

.bandeau{
    background-image: URL("../../assets/BandeGSB3.png");
    background-size: cover;
    position: sticky;
    width: 100%;
    height: auto;
    z-index: 0;
}
