.map-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 30px;
    margin: 20px;
  }
  
/*   .map-border {
    border: 5px solid orange;
    height: auto;
  } */
  
  #map {
    height: 100%;
  }