<!-- Navbars, logo et bouton déconnexion -->
<app-logout-button></app-logout-button>

<!-- Présentation GSB et petits onglets renvois -->
<div class="fond">
  <div class="container margefond">
    <div class="bordure">
      <h4>Liste des Utilisateurs</h4>
      <div class="flex">
        <select class="form-select" (change)="filtrerListe($event)">
          <option value=-1 selected> Tous </option>
          <option value=1> Visiteurs </option>
          <option value=2> Comptables </option>
          <option value=3> Administrateurs </option>
        </select>
        <button class="button-new" (click)="creerUtilisateur()"> Nouvel utilisateur </button>
      </div>



      <ul class="list-group list-group-item-action">
        <li class="list-group-item list-group-item-action"
          *ngFor="let utilisateur of utilisateursAffiches;let index = index">
          <a routerLink="/utilisateurs/edit/{{ utilisateur.id }}" class="overflow-auto btn">
            {{ utilisateur.prenom }} {{ utilisateur.nom }}
          </a>
        </li>
      </ul>
    </div>

    <p></p>

    <div class="bordure">
      <h4>Liste des frais forfaitisés</h4>

      <ul class="list-group list-group-item-action">
        <li class="list-group-item list-group-item-action"
          *ngFor="let frais of listeFraisEnForfait;let index = index">
          <a class="overflow-auto btn cursor">
            {{ frais.libelle }} : {{ frais.prixUnitaire }}
          </a>
        </li>
      </ul>
      <button class="button-new" (click)="creerFrais()"> Gérer les frais </button>

    </div>


  </div>
</div>
<!-- Bandeau contacts bas de page -->
<app-contacts></app-contacts>
