.fond {
    background-image: URL("../../assets/Fond2.png");
    background-size: cover;
    position: sticky;
    width: 100%;
    height: auto;
    z-index: 0;
}


.flex {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

select {
    cursor: pointer;
    width: 100px;
    height: 45px;
}

.button-new {
    background-color: #FFB400;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 150px
}

ul {
    margin-top: 17px;
    text-overflow: ellipsis;
}

.margefond {
    padding: 5%;
    margin: auto;
    text-align: center;

}

.bordure {
    margin: auto;
    padding: 3em 5em;
    max-width: 60%;
    border: 2px solid #00B8C0;
    border-radius: 50px;
    background-color: #FFFA;
}

li {
    list-style: none;
    border: 0px;
    padding: 7px;
}

li:hover {
    border: 1px solid #00B8C0;
    background-color: #b1f0f45a;
    padding: 6px;
}

.card {
    margin: 10px;
}

a {
    width: 100%;
}

.cursor {
    cursor: default;
}