<!-- Navbars, logo et bouton déconnexion -->
<app-logout-button></app-logout-button>

<!-- Présentation GSB et petits onglets renvois -->
<div class="fond">
  <div class="container margefond">
    <div class="bordure">


      <h4>Editer un utilisateur</h4>
      <div class="row w-100">
        <div class="form-group col-md-6 pr-6">
          <!------- Nom, Prenom, Email ------->
          <label>Nom:&nbsp;</label>
          <input class="form-control " type="text" [(ngModel)]="utilisateur.nom" placeholder="Nom de Famille">
        </div>
        <div class="form-group col-md-6 pl-6">
          <label>Prénom:&nbsp;</label>
          <input class="form-control " type="text" [(ngModel)]="utilisateur.prenom" placeholder="Prénom">
        </div>
      </div>
      <div class="row w-100">
        <div class="form-group col-md-6 pr-6">
          <label>Email:&nbsp;</label>
          <input class="form-control" type="text" [(ngModel)]="utilisateur.email"
            placeholder="a.bernard@gsb-contact.com">
        </div>
        <div class="form-group col-md-6 pl-6">
          <label>Identifiant:&nbsp;</label>
          <input class="form-control" type="text" [(ngModel)]="utilisateur.identifiant">
        </div>
      </div>
      <div class="form-group w-100 ">
        <!------- Adresse et Ville------->
        <label>Adresse:&nbsp;</label>
        <input class="form-control" type="text" [(ngModel)]="utilisateur.adresse" placeholder="1 rue du Plat">
      </div>
      <div class="row w-100">
        <div class="form-group col-md-6 pr-6">
          <label>Code Postal:&nbsp;</label>
          <input class="form-control" type="text" [(ngModel)]="utilisateur.codePostal" placeholder="69001">
        </div>
        <div class="form-group col-md-6 pl-6">
          <label>Ville:&nbsp;</label>
          <input class="form-control" type="text" [(ngModel)]="utilisateur.ville" placeholder="Lyon">
        </div>
      </div>
      <!------- Date Naissance et Embauche ------->
      <div class="row w-100">
        <div class="form-group col-md-6 pr-6">
          <label>Date de Naissance:&nbsp;</label>
          <div class="flex">
            <input class="form-control" ngbDatepicker #naissancePicker="ngbDatepicker" [(ngModel)]="dateNaissanceJSON"
              placeholder="yyyy-mm-dd">
            <button class="btn btn-outline-info" (click)="naissancePicker.toggle()" type="button"><svg xmlns="http://www.w3.org/2000/svg"
                width="25" height="25" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                <path
                  d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z">
                </path>
                <path
                  d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z">
                </path>
              </svg></button>
          </div>
        </div>
        <div class="form-group col-md-6 pl-6">
          <label>Date d'Embauche:&nbsp;</label>
          <div class="flex">
            <input class="form-control" ngbDatepicker #embauchePicker="ngbDatepicker" [(ngModel)]="dateEmbaucheJSON"
              placeholder="yyyy-mm-dd">
            <button class="btn btn-outline-info" (click)="embauchePicker.toggle()" type="button"><svg xmlns="http://www.w3.org/2000/svg"
                width="25" height="25" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                <path
                  d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z">
                </path>
                <path
                  d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z">
                </path>
              </svg></button>
          </div>
        </div>
      </div>


      <!------- Selection du Role ------->
      <div class="form-group w-100">
        <label>Role:&nbsp;</label>
        <select class="form-select" [(ngModel)]="utilisateur.roleId">
          <option value="1" [selected]="utilisateur.roleId === 1">Visiteur</option>
          <option value="2" [selected]="utilisateur.roleId === 2">Comptable</option>
          <option value="3" [selected]="utilisateur.roleId === 3">Administrateur</option>
        </select>
      </div>


      <button class="btn btn-success" (click)=confirmerUtilisateur()>Confirmer</button>
    </div>

  </div>
</div>
<!-- Bandeau contacts bas de page -->
<app-contacts></app-contacts>
