<!-- Boutons connection (patient et pro) -->
<div class="flex">
  <div class="flex m-3">
      <button class="btn-grad btn-grad:hover pt-1 txtgras" routerLink="/patient-access">Accès patients<img [src]="logInPat" class="p-2"  height="80%"></button>
  </div>
  <div class="flex m-3">
    <button class="btn-grad btn-grad:hover pt-1 txtgras" routerLink="/pro-access">Accès professionnels<img [src]="logInPro" class="p-2"  height="80%"></button>
  </div>
</div>