//Eléments alignés horizontalement
.flex {
    display: flex;
    justify-content: left;
}

.btn-grad 
{
    background-image: linear-gradient(to right, #FFB400 0%, #ffdb85  35%, #27C2E6  100%)
}
.btn-grad 
{
    height: 2cm;
    width: 6cm;
    max-width: auto;
    min-width: auto;
    transition: 0.5s;
    background-size: 200% auto;
/*     box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    border: none;
 }
 .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
 }


.txtgras{
    font-weight: bold;
}