<!-- Search bar -->
<ul ngbNav #nav="ngbNav" class="toolbar top-fixed justify-content-center">
    <li ngbNavItem>
        <a class="nav-link active text-white" routerLink="/formulaire-contact">Nous contacter<span class="sr-only"></span></a>
    </li>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search"><br>
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Icone loupe</button> -->
    </form>
  </ul>
  
  <!-- logo et bouton déconnexion -->
  <div class="bandeau">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
              <img [src]="LogoGSB3" class="margeLogo">
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3 margeButton flex">
              <button class="btn-grad btn-grad:hover pt-1" (click)="logout()" rel="noopener">Se déconnecter<img [src]="logOut" class="p-2"  height="80%"></button>
          </div>
      </div>
    </div>
  </div>
  
  <!-- barre renvoi pages -->
  <app-navbar-pages></app-navbar-pages>
