/*Commande pour avoir du texte blanc*/
.text-white{
    color: #FFF;
}
    
.toolbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; /* aligne le texte verticalement */ 
    background-color: #27C2E6; 
    font-weight: 600;
    text-align: center;
}

.bandeau{
    background-image: URL("../../assets/BandeGSB3.png");
    background-size: cover;
    position: sticky;
    width: 100%;
    height: auto;
    z-index: 0;
}

.margeLogo{
    margin: 3%;
    width: 50%;
    z-index: 2;
}
.margeButton{
    margin-top: 3%;
    margin-bottom: 2%;
    z-index: 2;
}

//Eléments alignés horizontalement
.flex {
    display: flex;
    justify-content: left;
}

.btn-grad 
{
    background-image: linear-gradient(to right, #ffdb85 0%, #FFB400  35%, rgb(255, 0, 0)  100%)
}
.btn-grad 
{
    height: 2cm;
    width: 6cm;
    max-width: auto;
    min-width: auto;
    transition: 0.5s;
    background-size: 200% auto;
/*     box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    border: none;
 }
 .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
 }